.billingContainer {
    display: flex;
    justify-content: space-around;

}

.billingRightContainer {
    display: flex;
    flex-direction: column;


}

.billingLeftContainer {
    display: flex;
    flex-direction: column;


}