.billingContainer {
    display: flex;
    justify-content: space-around;

}

.billingRightContainer {
    display: flex;
    flex-direction: column;
    border-left-color: black;
    background-color: red;

}

.billingLeftContainer {
    display: flex;
    flex-direction: column;
    background-color: red;
}